* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

:root {
  --bg-color: rgba(0, 0, 0, 0.8);
  --white: #ffffff;
}

html {
  font-size: 62.5%;
}

body {
  font-family: system-ui, sans-serif;
  min-height: 100vh;
  display: flex;
  flex-direction: column;
  background-image: url(./assets/background.png);
  background-position: center;
  background-repeat: no-repeat;
  background-size: cover;
  background-attachment: fixed;
  color: var(--white);
}

/* === HEADER === */

header {
  padding: 2rem 5rem;
  display: flex;
  align-items: center;
  justify-content: space-between;
}

nav {
  display: flex;
  gap: 2.5rem;
}

button {
  font-size: 1.8rem;
  font-weight: 500;
  border: none;
  background-color: rgba(0, 0, 0, 0);
  color: var(--white);
}

/* === CONTENT === */

#content {
  flex: 1;
  display: flex;
  justify-content: center;
  align-items: center;
}

/* for menu */

.menu {
  display: grid;
  grid-template-columns: repeat(2, 40rem);
  grid-template-rows: repeat(2, 25rem);
  gap: 3rem;
}

.card {
  padding: 3rem;
  background: var(--bg-color);
  border-radius: 1rem;
  display: flex;
  align-items: center;
  gap: 1.5rem;
}

.card img {
  width: 10rem;
}

.prod-name {
  font-size: 2.5rem;
  font-weight: 600;
}

.card div p:nth-child(2) {
  font-size: 1.5rem;
}

.card div {
  text-align: center;
  display: flex;
  flex-direction: column;
  gap: 2rem;
}

/* for contact */

.contact {
  padding: 3rem;
  width: 83rem;
  height: 53rem;
  background: var(--bg-color);
  border-radius: 1rem;
  display: flex;
  justify-content: space-around;
  align-items: center;
}

.contact div div img {
  width: 7rem;
}

.contact div div {
  display: flex;
  align-items: center;
  font-size: 1.8rem;
  gap: 1rem;
}

.map {
  width: 40rem;
  height: 40rem;
}

.contact-info {
  display: flex;
  flex-direction: column;
  gap: 5rem;
}

/* === FOOTER === */

#github-logo {
  width: 3rem;
}

#github-logo:hover {
  transform: scale(1.05);
}

footer {
  padding: 1rem;
  font-size: 1.8rem;
  display: flex;
  justify-content: center;
  align-items: center;
  gap: 1rem;
}

footer p a {
  text-decoration: none;
  color: var(--white);
}

/* === GLOBAL STYLES === */

header,
footer {
  background: var(--bg-color);
}
